.auth {
  margin-top: 69px;
  display: flex;

  @media screen and (max-width: 1460px) {
    margin-top: 10px;
  }

  & > div {
    width: 50%;
  }
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 71px;
  display: inline-block;
  margin-bottom: 52px;
  max-width: 610px;
  text-transform: uppercase;

  @media screen and (max-width: 1460px) {
    margin-bottom: 32px;
    font-size: 47px;
    line-height: 53px;
  }
}

.conferences {
  max-width: 436px;
}
