// ---------- Text Colors ---------- //

$c_text_primary: #222222;
$c_text_grey: #9d9d9d;
$c_text_white: #ffffff;
$c_text_dark_grey: #737373;
$c_text_primary_hover: "#000";

// ---------- Danger Colors ---------- //

$c_danger: "#000";

// ---------- Success Colors ---------- //

$c_success: "#000";

// ---------- Border Colors ---------- //

$c_border_base: #e9e9e9;
$c_border_grey: #e2e2e2;
$c_border_primary: #222222;
$c_border_error: "#000";
$c_border_error_hover: "#000";
$c_border_success: "#000";
$c_border_success_hover: "#000";

// ---------- Background Colors ---------- //

$c_bg_white: #ffffff;
$c_bg_black: #000000;
$c_bg_dark_grey_white: #fafafa;
$c_bg_dark_purple: #e02d71;

// ---------- Button Colors ---------- //

$c_button_purple: #e02d71;
$c_button_purple_hover: #ba245e;
$c_button_black: #000000;
$c_button_black_hover: #000000;

// ---------- Icon Colors ---------- //

$c_icon_grey: "#000";
$c_icon_grey_hover: "#000";
